.TopNavbar {
  background-color: #333333;
  height: 8vh;
  width: 100%;
  border: 1px solid #gray;
  top: 0;
  position: sticky;
}

.NavItems {
  display: flex;
  justify-content: space-between;
  list-style: none;
  position: sticky;
}

.LogoButton {
  color: #ed8c4b;
  justify-content: center;
  align-items: center;
  /* text: #73AD21; */
  background-color: #111111;
  height: 5.8vh;
  width: 10vh;
  padding: 1vh;
  margin: 0px 0;
  font-size: 4vh;
  border-radius: 0vh;
  user-select: none;
  border: none;
  box-shadow:
    0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.NavButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  height: 5.5vh;
  width: 16vh;
  padding: 1vh;
  margin: 0px 0;
  font-size: 3vh;
  border-radius: 15px;
  user-select: none;
  border: none;
  transition: .7s;
  box-shadow:
    0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.NavButtonTraditional {
  color: #04ff00;
}

.NavButtonTraditional:hover {
  box-shadow:
    0px 2px 6px 0px #04ff00,
    0px 2px 2px 0px #04ff00,
    0px 4px 2px -2px #04ff00;
}

.NavButtonTraditional.selected {
  background-color: #04ff00;
  color: black;
}

.NavButtonKravMaga {
  color: cyan;
}

.NavButtonKravMaga:hover {
  box-shadow:
    0px 2px 6px 0px cyan,
    0px 2px 2px 0px cyan,
    0px 4px 2px -2px cyan;
}

.NavButtonKravMaga.selected {
  color: black;
  background-color: cyan;
}

.NavButtonWeapons {
  color: #fa432a;
}

.NavButtonWeapons:hover {
  box-shadow:
    0px 2px 6px 0px #fa432a,
    0px 2px 2px 0px #fa432a,
    0px 4px 2px -2px #fa432a;
}

.NavButtonWeapons.selected {
  color: black;
  background-color: #fa432a;
}

.NavButtonGlossary {
  color: #f542d4;
}

.NavButtonGlossary:hover {
  box-shadow:
    0px 2px 6px 0px #f542d4,
    0px 2px 2px 0px #f542d4,
    0px 4px 2px -2px #f542d4;
}

.NavButtonGlossary.selected {
  background-color: #f542d4;
  color: black;
}

.NavButtonPhilosophy {
  color: #ed8c4b;
}

.NavButtonPhilosophy:hover {
  box-shadow:
    0px 2px 6px 0px #ed8c4b,
    0px 2px 2px 0px #ed8c4b,
    0px 4px 2px -2px #ed8c4b;
}

.NavButtonPhilosophy.selected {
  color: black;
  background-color: #ed8c4b;
}

.SettingsButton {
  justify-content: center;
  align-items: center;
  background-color: #131c2b;
  height: 5.5vh;
  width: 10vh;
  padding: 1vh;
  margin: 0px 0;
  font-size: 2vh;
  border-radius: 0px;
  user-select: none;
  border: none;
  box-shadow:
    0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.SideBars > div {
  background-color: #494f59;
  position: fixed;
  min-width: 250px;
  width: 16vw;
  top: 8vh;
  bottom: 0;
  left: 0;
  transition: left .4s;

  overflow-y: auto;
}

.SideBars > div::-webkit-scrollbar {
  width: 5px;
}

.SideBars > div::-webkit-scrollbar-track {
  background-color: #0000;
}

.SideBars > div::-webkit-scrollbar-thumb {
  border-radius: 2.5px;
}


.SideBars .closed {
  left: -255px;
}

.SideBars .open {
  left: 0;
}

.TraditionalSideBar {
  border: 2px solid #73AD21;
}

.TraditionalSideBar::-webkit-scrollbar-thumb {
  background-color: #639D11;
}


.KravSideBar {
  border: 2px solid cyan;
}

.KravSideBar::-webkit-scrollbar-thumb {
  background-color: #0ee;
}

.WeaponsSideBar {
  border: 2px solid #fa432a;
}

.WeaponsSideBar::-webkit-scrollbar-thumb {
  background-color: #ea33aa;
}

.GlossarySideBar {
  border: 2px solid #bc2afa;
}

.GlossarySideBar::-webkit-scrollbar-thumb {
  background-color: #ac1aea;
}


.PhilosophySideBar {
  border: 2px solid #FFD700;
}

.PhilosophySideBar::-webkit-scrollbar-thumb {
  background-color: #efc700;
}

.TradSideBarBasicsList {
  padding: 0px;
  list-style: none;
}

.TradSideBarBasicsList li {
  padding: 2px;
}

.TradSideBarBasicsList li:hover {
  background-color: lightgrey;
}

.TradSideBarFormsList {
  padding: 4px;
  list-style: none;
  left: 0;
}

.TradSideBarFormsList li:hover {
  background-color: lightgrey;
}

.AfterFuck {
  background-color: lightgrey;
  top: 0vh;
  min-height: 80vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
